<html>
<head>
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<div class="top">
    <span class="icon-food">Food: <span class="foodAmount"><%= resources.food %></span></span>
    <span class="icon-iron">Iron: <span class="ironAmount"><%= resources.iron %></span></span>
</div>
<div class="left">
    <div class="icon-food">Food: <span class="foodAmount"><%= resources.food %></span></div>
    <div class="icon-iron">Iron: <span class="ironAmount"><%= resources.iron %></span></div>
</div>
<div class="right">
    <div class="icon-food">Food: <span class="foodAmount"><%= resources.food %></span></div>
    <div class="icon-iron">Iron: <span class="ironAmount"><%= resources.iron %></span></div>
</div>
</body>
</html>